absl-py==0.7.1
astor==0.8.0
certifi==2019.3.9
et-xmlfile==1.0.1
gast==0.2.2
grpcio==1.21.1
h5py==2.10.0
jdcal==1.4.1
Markdown==3.1.1
numpy==1.14.5
openpyxl==3.0.2
protobuf==3.8.0
six==1.12.0
tensorboard==1.10.0
tensorflow-gpu==1.10.0
termcolor==1.1.0
tqdm==4.32.1
ujson==1.35
Werkzeug==0.15.4
